In [4]:
import pandas as pd

In [5]:
data = pd.read_csv("processed_data.csv")

In [6]:
data.head()

  Outlook      Age Gender
0      No  18 - 29   Male
1      No  18 - 29   Male
2      No  18 - 29   Male
3      No  18 - 29   Male
4     Yes  18 - 29   Male

In [35]:
data.groupby(by=["Age", "Gender", "Outlook"]).size()

Age      Gender  Outlook
18 - 29  Female  No         62
                 Yes        47
         Male    No         65
                 Yes        41
30 - 44  Female  No         70
                 Yes        61
         Male    No         67
                 Yes        59
45 - 59  Female  No         80
                 Yes        61
         Male    No         74
                 Yes        60
60       Female  No         85
                 Yes        55
         Male    No         68
                 Yes        46
dtype: int64